COMPOSE_PROJECT_NAME=contabilidade

POSTGRES_DB=contabilidade
POSTGRES_USER=contabilidade
POSTGRES_PASSWORD=altere-esta-senha
POSTGRES_PORT=5432

KEYCLOAK_DB=keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=altere-esta-senha
KEYCLOAK_REALM_FILE=realm-contabilidade-dev.json

PUBLIC_BASE_URL=http://localhost:8088
APP_PORT=8088

APP_SECURITY_ENABLED=true
APP_STORAGE_LOCAL_PATH=/data/documentos
APP_WORKER_TOKEN=altere-este-token-interno
APP_CORS_ALLOWED_ORIGINS=http://localhost:8088,http://localhost:5173

WORKER_POLL_INTERVAL_MS=5000
WORKER_LEASE_SECONDS=180

APP_AUTOMATION_PUBLIC_PATH=/automation
APP_AUTOMATION_SESSION_SIGNING_SECRET=altere-este-segredo-de-sessao-com-mais-de-32-caracteres
APP_AUTOMATION_SESSION_TICKET_TTL=PT15M
FEDERAL_PORTAL_URL=https://servicos.receitafederal.gov.br/servico/certidoes
FEDERAL_PORTAL_NAVIGATION_TIMEOUT_MS=60000
FEDERAL_PORTAL_RESULT_TIMEOUT_MS=120000

SEFAZ_SP_PORTAL_URL=https://www10.fazenda.sp.gov.br/CertidaoNegativaDeb/Pages/EmissaoCertidaoNegativa.aspx
SEFAZ_SP_PORTAL_NAVIGATION_TIMEOUT_MS=60000
SEFAZ_SP_PORTAL_RESULT_TIMEOUT_MS=120000
SEFAZ_SP_ENFORCE_SERVICE_WINDOW=true
PGE_SP_PORTAL_URL=https://www.dividaativa.pge.sp.gov.br/sc/pages/crda/emitirCrda.jsf
PGE_SP_PORTAL_NAVIGATION_TIMEOUT_MS=60000
PGE_SP_PORTAL_RESULT_TIMEOUT_MS=120000
